* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* background: rgb(16, 163, 102); */
    background-image: linear-gradient(120deg, #b8d690 0%, #86bb35 100%);
}

.container{
    color: white;
    font-family: Raleway, serif;
    font-size: 46px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60%;
    text-shadow: 2px 2px 4px #000000;
}

#fond{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); 
    /* animation: fill 0.5s ease forwards 2s; */
    /* width: 100px; */
    /* opacity: 0; */
    animation: hide 0.5s ease forward 2s;
}

#logo {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); 
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 2s;
}
/* D  */
#logo path:nth-child(1) {
    stroke-dasharray: 1492;
    stroke-dashoffset: 1492;
    animation: line-anim 3s ease forwards;
}
/* E  */
#logo path:nth-child(2) {
    stroke-dasharray: 961;
    stroke-dashoffset: 962;
    animation: line-anim 3s ease forwards 0.3s;

}
/* S  */
#logo path:nth-child(3) {
    stroke-dasharray: 1771;
    stroke-dashoffset: 1771;
    animation: line-anim 3s ease forwards 0.6s;

}
 /* I  */
#logo path:nth-child(4) {
    stroke-dasharray: 1545;
    stroke-dashoffset: 1545;
    animation: line-anim 3s ease forwards 0.9s;

}
/* G  */


@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from {
        fill: transparent;
    }
    to{
        fill: white;
    }
}

@keyframes hide{
    from {
        fill: transparent;
    }
    to {
        fill:"#86BB35";
    }
}